asgiref==3.2.7
bcrypt==3.1.7
cffi==1.14.1
cryptography==3.0
Django==3.0.7
django-extensions==2.2.9
django-names==1.0.5
fabric==2.5.0
invoke==1.4.1
model-mommy==2.0.0
nameparser==1.0.6
paramiko==2.7.1
Pillow==8.3.2
pycparser==2.20
PyNaCl==1.4.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
